#####
# Ignore OS X temporary files that should never be committed

.DS_Store
*.DS_Store
*.swp
*.lock
profile

#####
# Ignore Windows image file caches

Thumbs.db
ehthumbs.db

#####
# Ignore Log files that should never be committed

*.log

#####
# Ignore Xcode

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

#####
# Ignore Android/IJ

.idea
.gradle
local.properties

#####
# Ignore compiled *bundle.js

*bundle.js

#####
# Ignore Node or jspm modules folder should never be committed

node_modules/
jspm_packages/

#####
# Ignore ulysses files

.Ulysses*

####
# Ignore DB folder

db/

####
# Ignore Compiled build folder

build/

#####
# Ignore Misc folder
